
body{
    font-family:sans-serif;
    overflow-x:hidden;
}
button {
  -webkit-app-region: no-drag;
  border:0;
  outline:none!important;
}
.title-bar{
    top:0;
    width:100%;
    height:20px;
    background-color:#24292e;
    border-bottom:1px solid #222;
    -webkit-app-region:drag;
    position:absolute;
    z-index:10002;
}
.title-bar button{
    height:20px;
    min-width:30px;
    background-color:transparent;
    color:#888;
    fill:#888;
}
.title-bar button.window-control{
    float:right;
}
.title-bar button:hover{
    background-color:#444;
}
.tool-bar{
    top:21px;
    width:100%;
    height:20px;
    background-color:#eee;
    border-bottom:1px solid #999;
    margin:0;
    position:absolute;
    z-index:10002;
}
.tool-bar button{
    height:20px;
    min-width:30px;
    background-color:transparent;
    color:#333;
    fill:#333;
}
.tool-bar button.menu{
    
}
.tool-bar button.active{
    background-color:red;
}
.tool-bar button:hover{
    background-color:#ccc;
}
#main-content{
    position:absolute;
    top:42px;
    bottom:0;
    left:0;
    right:0;
    background-color:#fff;
    overflow-y:scroll;
}
.content[type=folder]{
    background:url(./images/folder.png) no-repeat 4px center;
}
.content[type=file]{
    background:url(./images/file.png) no-repeat 4px center;
}
.content{
    display:block;
    width:100%;
    height:30px;
    line-height:32px;
    position:relative;
    background-position: 0 center;
    font-size:12px;
}
.content:hover{
    background-color:#ddd;
}
.content:before{
    display:inline-block;
    content:attr(size);
    position:absolute;
    right:5px;
}
.content:after{
    display:inline-block;
    content:attr(name);
    position:absolute;
    left:26px;
}